.applyFormContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

.applyFormBackground {
    height: 505px;
    width: 60%;
    padding-top: 100px;
    margin: auto;
}