body {
    background-color: #c0f0f7;
}

/* Tags styling */
.paper {
    border: solid .5px grey;
    width: 70%;
    margin: auto;
    margin: 100px;
    padding: 30px;
}

.paper h1 {
    padding: 40px;
}

.paper button {
    margin: auto;
    display: block;
    margin-top: 50px;
}

/* End of Tags styling */

.container {
    border: 2px solid lightgrey;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textField {
    border: 2px solid red;
}